.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bordered-box {
  border: 2px solid cornflowerblue;
  background: cornflowerblue;
  color: whitesmoke;
  min-height: 350px;
  min-width: 250px;
  width: 250px;
  max-height: 350px;
  margin: 0.5em 0 1em 0;
  overflow-y: auto;
}

.flex-col > input {
  min-width: 250px;
}

.flex-col input {
  border: 2px solid cornflowerblue;
}

.pad-top {
  padding-top: 2rem;
}
